{% extends '_layouts/base.html.twig' %}

{% block content %}
    {% embed "_layouts/fragments/_narrow-col.html.twig" %}
        
        {% block content %}
        <div class="card">
            <div class="card-header">Register</div>

            <div class="card-body">

                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.displayName) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword.first, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.plainPassword.second, {
                        label: 'Repeat'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" class="btn btn-primary">Register</button>
                {{ form_end(registrationForm) }}

            </div>
        </div>
        {% endblock %}
        
    {% endembed %}
{% endblock %}
